.list-of-links {
  display: flex;
  height: 50px;
  z-index: 11;
  text-align: center;
}
.link {
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #383838dc;
  height: 40px;
  width: 100px;
  margin: 10px;
  text-decoration: none;
  color: white;
  /* padding: 20px; */
  transition: 350ms ease-in-out;
  /* box-shadow: 1px 1px 5px #333; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.link:hover {
  color: rebeccapurple;
  background-color: #929292b6;
  font-weight: bolder;
  box-shadow: 1px 1px 10px white;
}
/* @media only screen and (max-device-width: 400px) {
  .list-of-links {
    flex-wrap: wrap;
  }
} */

@media (max-width: 560px) {
  .list-of-links {
    flex-wrap: wrap;
  }
}
